.overload{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 99999;
}

.overload .loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overload.hidden{
    display: none;
}
.container-custome{
    padding: 15px;
}
#title{
    border: 1px solid #000;
    padding: 3px 8px;
    font-size: 30px;
    border-bottom: 4px solid #1e83b6;
}


nav .breadcrumb{
    margin-bottom: 10px;
    background-color: #ffff;
    padding-left: 25px;
}
nav .breadcrumb a{
    text-decoration: unset;
}
.filter .group-input{
    gap: 20px;
    border: 1px solid #000;
    border: 1px solid #b3a3a;
}

.filter .group-input h5.title{
    background-color: #d1cbcb;
    /*padding: 10px 15px;*/
    /*padding-right: 30px;*/
    padding: 10px;
    width: 10%;
    display: flex;
    justify-content: stretch;
    margin: 0;
}

.filter .group-input .list-filter{
    gap: 20px;
}

.filter .group-input .list-filter a{
    color: #000;
    text-decoration: unset;
    width: 10%;
    white-space: nowrap;
    display: block;
    width: -moz-max-content;
    width: max-content;
}

.filter .group-input .list-filter a.disable
{
    color: #b4b4b4;
}

.filter .group-input .list-filter a:hover,
.filter .group-input .list-filter a.active
{
    font-weight: bold;
}

.filter p{
    padding-left: 10px;
}

.filter .reset-all{
    width: -moz-max-content;
    width: max-content;
    padding: 8px 50px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: bold;
    background-color: #9c9c9c;
}

#cars .list-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 20px;
}
#cars .list-card .card-item a{
    text-decoration: none;
}


#cars .list-card .card-item{
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cbc8c8;
}

#cars .list-card .card-checkbox{
    gap: 10px;
}

#cars .list-card .card-checkbox label span{
    font-weight: bold;
    color: #1e83b6;
}

#cars .list-card img{
    -o-object-fit: contain;
       object-fit: contain;
}
#cars h3{
    border: 1px solid #c9c6c6;
    padding: 12px;
    padding-left: 20px;
    position: relative;
    background-color: #efefef;
    font-weight: bold;
}

#add-car{
    background-color: #119fc7;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10;
    text-decoration: none;
    width: -moz-max-content;
    width: max-content;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}

#add-car:hover{
    color: #fff;
}


